/* HORIZONTAL RESPONSIVE DROP MENUS V2.0 2020 */




/* FULL - MENU OUTER WIDTHS, BORDER & BACKGROUND COLOR */

#rwdmenu	{
		margin: 0 auto;
		padding: 0;
		position: relative;
		z-index: 1100;
		min-width: 600px;	/* INCREASE TO STOP DESKTOP MENUS WRAPPING */
		width: 100%;		/* MAXIMUM WIDTH */
		text-align: left;	/* ALIGNS MENU TABS */
		background-color: #000000;
		background-image: url("../picts/black/menu-background.png");
		background-repeat: repeat-x;
		border: solid #999999;
		border-width: 0px 0px 0px 0px;
		/* NOTE: BORDERS ABOVE ARE | top | right | bottom | left */
		vertical-align: bottom;
	/* CORNER ROUNDING */
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		-khtml-border-radius: 0px;
		border-radius: 0px;
		}




/* MENU DEFAULTS & FONT FACE (ALL LEVELS) */

#rwdmenu ul, #rwdmenu li, #rwdmenu a 
		{
		margin: 0 auto;
		padding: 0;
		border: 0;
		outline: none;
		list-style: none;
	/* USES GOOGLE FONT LOADED IN THE style.css */
		font-family: "Roboto", Papyrus, arial, sans-serif;
		font-weight: normal;
		line-height: normal;
		text-decoration: none;
		text-align: left;
		vertical-align: bottom;
		position: relative;
		z-index: 1101;
		}

#rwdmenu ul	{
		text-align: center;
		margin: 0 auto;
		display: inline-block;
		zoom: 1;
		*display: inline;
		}




/* FULL - TOP LEVEL BUTTON AREA */

#rwdmenu > ul	{
		background: transparent;
		border: solid #999999;
		border-width: 0px 0px 0px 0px;
		/* NOTE: BORDERS ABOVE ARE | top | right | bottom | left */
		}




/* FULL - LEFT / RIGHT BORDER EACH BUTTON */

#rwdmenu > ul > li 
		{
		background-image: none;
		background-repeat: no-repeat;
		background-position: center bottom;
		float: left;
		border: solid #999999;
		border-width: 0px 0px 0px 0px;
		/* NOTE: BORDERS ABOVE ARE | top | right | bottom | left */
		}

/* FULL - BORDER LAST BUTTON */

#rwdmenu > ul > li:last-child { border-width: 0px 0px 0px 0px; }




/* FULL & MOBILE - TOP LEVEL HOVER BACKGROUND */

#rwdmenu > ul > li:hover 
		{
		background: #BA0030;
		background-image: url("../picts/menu-picts/menu-arrow-white.png");
		background-repeat: no-repeat;
		background-position: center bottom;
		}




/* FULL & MOBILE - NO ARROW ON NON-DROP MENU ADD CLASS .nodrop IN menu.js */

#rwdmenu > ul > li.nodrop, #rwdmenu > ul > li.nodrop:hover, #rwdmenu > ul > li.nodrop.active 
		{
		background-image: none;
		}




/* FULL & MOBILE - TOP LEVEL FONT COLOR & HEIGHT & PADDING (WIDTH & ALIGNMENT DESKTOP) */

#rwdmenu > ul > li > a 	{
			color: #FFFFFF;
			font-size: 1.0em;
			font-weight: 400;
			text-align: center;
			text-indent: 0px;
			width: auto;  /* FULL BUTTON WIDTH */
			line-height: 52px; /* DEFINES TOP LEVEL MENU HEIGHT (ALSO EDIT top: 56px; BELOW) */
			margin: 0px 0px 0px 0px;
			padding: 2px 18px 2px 18px;
			display: block;
			}

/* FULL & MOBILE - TOP LEVEL HOVER FONT COLOR */

#rwdmenu > ul > li > a:hover 	{
				color: #FFFFFF;
				text-decoration: none;
				}




/* FULL & MOBILE - ACTIVE BACKGROUND */

#rwdmenu > ul > li.active 	{
				background: #6A6D7F;
				background-image: url("../picts/menu-picts/menu-arrow-white.png");
				background-repeat: no-repeat;
				background-position: center bottom;
				border-bottom: none;
				}

#rwdmenu > ul > li.active > a 	{ color: #FFFFFF; }




/* FULL & MOBILE - SUB MENU BACKGROUND COLOR, BORDER & OUTER PADDING */
/* (TOP LOCATION WORKS WITH TOP LEVEL line-height: ABOVE) */

#rwdmenu ul ul 	{
		background: #6A6D7F;
		border-top: #6A6D7F 0px solid;
		border-right: #6A6D7F 0px solid;
		border-bottom: #6A6D7F 0px solid;
		border-left: #6A6D7F 0px solid;
	/* CORNER ROUNDING - BOTTOM CORNERS */
		-moz-border-radius-topleft: 0px;
		-moz-border-radius-topright: 0px;
		-moz-border-radius-bottomright: 0px;
		-moz-border-radius-bottomleft: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
		border-bottom-right-radius: 0px;
		border-bottom-left-radius: 0px;
	/* DROP SHADOW */
		-moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.20);
		-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.20);
		box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.20);
		padding: 0px 0px 0px 0px;
		display: none;
		position: absolute;
		top: 56px;
		left: 0px;
		z-index: 1102;
		}




/* FULL - SUB MENU WIDTH */

#rwdmenu ul ul { width: 240px; }




/* FULL & MOBILE - SUB MENU LINK COLORS & FONT & INNER PADDING & BORDER */

#rwdmenu ul ul a	{
			color: #FFFFFF;
			font-size: 0.96em;
			font-weight: normal;
			line-height: normal;
			background: transparent;
			display: block;
			padding: 6px 5px 6px 11px;
			border: solid #999999;
			border-width: 0px 0px 0px 0px;
			/* NOTE: BORDERS ABOVE ARE | top | right | bottom | left */
			}

/* FULL - SUB MENU HOVER COLORS */

#rwdmenu ul ul a:hover	{
			color: #FFFFFF;
			background: #3A3F66;
			border: solid #999999;
			border-width: 0px 0px 0px 0px;
			/* NOTE: BORDERS ABOVE ARE | top | right | bottom | left */
			}




/* FULL & MOBILE - PADDING BETWEEN SUB MENUS & SUB UPPERMOST + BOTTOM PAD */

#rwdmenu ul ul li { padding: 0px 0px 0px 0px; }

#rwdmenu ul ul li:first-child, 
#rwdmenu ul ul div.menu-right li:first-child	{ padding: 6px 0px 0px 0px; }

#rwdmenu ul ul li:last-child, 
#rwdmenu ul ul div.menu-left li:last-child	{ padding: 0px 0px 6px 0px; }




/* MENU HIGHLIGHT */

#rwdmenu ul ul li.menu-hilite a {
		font-weight: 500;
		font-size: 1.05em;
		}




/* 2 COLUMN MENUS CODE - WIDTHS WORK WITH ABOVE SUB MENU WIDTH & PADDING ABOVE */

#rwdmenu ul ul.menu-2col { width: 480px; }

#rwdmenu ul ul.menu-2col a { width: 224px; text-align: left; margin: 0 auto 0 0; }

.menu-right	{ float: right; position: absolute; top: 0px; right: 16px; width: 224px; z-index: 1200; }

/* BLANK SPACE - IN 2 COLUMN */

#rwdmenu ul ul li.menu-space a:hover {
		background: transparent;
		cursor: default;
		}




/* DEFAULT CLEAR FLOATS - DO NOT EDIT! */

  #rwdmenu > ul:after {
    clear: both;
    content: '';
    display: table;
  }




/* HIDES MOBILE MENU - DO NOT EDIT! */

  #rwdmenu > ul > li.mobile {
    display: none;
    border-right: 0 none;
  }




/* OPTIONAL LAST DROP MENU OPEN TO LEFT - UN-REMARK TO USE */

/* **** START REMARK OUT

#rwdmenu > ul > li:last-child ul {
  left: auto;
  right: 0;
}

END REMARK OUT **** */




/***************
START Media Queries #1-m FOR MENU L R PADDING - 890
***************/
@media handheld and (max-width: 990px),
   screen and (max-device-width: 990px),
   screen and (max-width: 990px) 
	{


/* TOP LEVEL MENU L R PADDING */

#rwdmenu > ul > li > a 	{
			font-size: 1.05em;
			padding-left: 10px;
			padding-right: 10px;
			}

#rwdmenu ul ul a	{ font-size: 0.95em; }


	}
/***************
END Media Queries #1-m
***************/




/* START MOBILE ONLY SECTION */

/***************
START Media Queries #2-m - FOR THE MOBILE MENU - 640 IS THE WIDTH WHEN THE MOBILE MENU APPEARS
***************/
@media handheld and (max-width: 640px),
   screen and (max-device-width: 640px),
   screen and (max-width: 640px) 
	{




#rwdmenu	{ min-width: 200px; }

#rwdmenu ul 	{ display: block; width: 100%; }






/* MOBILE - FIRST "Menu" TEXT & ICON FONT (edit text in "javascripts.js") */

#rwdmenu > ul > li.mobile > a 
		{
		color: #FFFFFF;
		font-size: 1.15em;
		font-weight: 500;
		text-indent: 2px;
		line-height: 25px; /* DEFINES HEIGHT FOR ICON */
		padding: 5px 6px 7px 6px;
		}

#rwdmenu > ul > li.mobile:hover, #rwdmenu > ul > li.mobile.active  
		{
	/* CORNER ROUNDING FIRST "Menu" */
		-moz-border-radius: 0px;
		-webkit-border-radius: 0px;
		-khtml-border-radius: 0px;
		border-radius: 0px;
		}

/* SECTION UNUSED - MOBILE - FIRST "Menu" HOVER & ACTIVE */

#rwdmenu > ul > li.mobile:hover, 
#rwdmenu > ul > li.mobile > a:hover	{ background-color: transparent; }

#rwdmenu > ul > li.mobile.active	{ background-color: transparent; }




/* MOBILE - FIRST "Menu" ARROW LOCATION */

#rwdmenu > ul > li.mobile, #rwdmenu > ul > li.mobile:hover, #rwdmenu > ul > li.mobile.active 
		{
		background-image: none;
		background-position: center bottom;
		}




/* MOBILE RIGHT ICON */

  #rwdmenu > ul > li.mobile i 
		{
		width: 30px;
		float: right;
		font-style: normal;
		background-image: url("../picts/menu-picts/mobile-menu-icon-white.png");
		background-repeat: no-repeat;
		background-position: left top;
		}




/* MOBILE - 2nd LEVEL FONT SIZE & PADDING  (WIDTH & ALIGNMENT MOBILE) */

#rwdmenu > ul > li > a	{
			font-size: 1.0em;
			font-weight: normal;
			text-indent: 25px;
			text-align: left;
			line-height: 18px; /* DEFINES HEIGHT */
			width: auto;
			padding: 6px 6px 5px 6px;
			}




/* MOBILE - MENU HEIGHT & ANIMATION SPEED */

/* HEIGHT WORKS WITH "FIRST Menu" ABOVE USING line-height & padding */

#rwdmenu > ul	{
		max-height: 37px;
		overflow: hidden;
		-webkit-transition: max-height 0.5s;
		transition: max-height 0.5s ease;
		}




/* MOBILE - DEFAULT OVERALL MAXIMUM HEIGHT */

#rwdmenu.expand ul { max-height: 1200px; }




/* MOBILE - 3rd LEVEL FONT SIZE & PADDING & INDENT */

#rwdmenu ul ul a	{
			font-size: 1.0em;
			font-weight: normal;
			line-height: normal;
			text-indent: 25px;
			padding: 7px 5px 7px 9px;
			}




/* MOBILE - BUTTON BORDERS & ARROW POSITION */

#rwdmenu > ul > li	{
			border: solid #999999;
			border-width: 0px 0px 0px 0px;
			/* NOTE: BORDERS ABOVE ARE | top | right | bottom | left */
			}

#rwdmenu > ul > li:first-child	{ border-width: 0px 0px 0px 0px; }

#rwdmenu > ul > li:last-child	{ border-width: 0px 0px 0px 0px; }

#rwdmenu > ul > li > ul 	{ border-width: 0px 0px 0px 0px; }

#rwdmenu > ul > li 
			{
			background-image: url("../picts/menu-picts/menu-arrow-white.png");
			background-position: 10px 12px;
			}

#rwdmenu > ul > li:hover, #rwdmenu > ul > li.active 
			{
			background-image: url("../picts/menu-picts/menu-arrow-white.png");
			background-position: 10px 12px;
			}




/* MOBILE - DEFAULTS - DO NOT EDIT! */

  #rwdmenu > ul > li {
    border-right: 0 none;
    border-left: 0 none;
    display: block;
    float: none;
  }

  #rwdmenu > ul > li.mobile {
    display: block;
  }

  #rwdmenu ul ul {
    width: 100%;
    position: relative;
    top: 0;
/* REMOVE DROP SHADOW */
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
/* REMOVE BORDER */
    border-width: 0px;
  }


/* 2 COLUMN MENUS CODE */

#rwdmenu ul ul.menu-2col { width: auto; }

#rwdmenu ul ul.menu-2col a { width: auto; }

.menu-right	{ float: none; position: static; width: auto; }

#rwdmenu ul ul div.menu-right li:first-child, 
#rwdmenu ul ul div.menu-left li:last-child	{ padding: 0px 0px 0px 0px; }

/* BLANK SPACE - IN 2 COLUMN */

#rwdmenu ul ul li.menu-space a {
		display: none;
		}



	}
/***************
END Media Queries #2-m
***************/



